* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 3rem;
  color: rgb(44, 139, 44);
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}
