* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
  background-image: url(/assets/dot-grid.png);
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: rgb(46, 99, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 4rem;
}

h1 {
  color: rgb(69, 241, 69);
  font-family: "Courier New", Courier, monospace;
  /* text-transform: uppercase; */
  font-size: 3rem;
}

.container {
  /* height: 95%;
  width: 95%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h2 {
  margin: 1rem;
  color: rgb(44, 139, 44);
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}
#menu {
  /* display: none; */
  z-index: 1;
  width: 510px;
  height: 510px;
  background-color: rgb(195, 224, 195);
}

div div {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%);
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
}

li {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  margin-bottom: 2rem;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: rgb(44, 139, 44);
  font-weight: 700;
  border: solid 3px;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(195, 224, 195);
  transition: 500ms;
}

button:hover {
  background-color: rgb(46, 99, 46);
  color: rgb(69, 241, 69);
}
